.photo-thumbs
  - @photos.each do |photo|
    .photo
      = link_to photo_path(photo) do
        %img{src: photo.image.thumb}
        .caption
          %h2= photo.title
          %hr
          %p= photo.description
