@import 'bourbon';
body {
  padding-top: 60px;
  #content {
    padding: 20px 0px;
    .photo-thumbs {
      a { text-decoration: none; }
      .photo {
        @include inline-block;
        position: relative;
        margin: 13px 10px;
        .caption {
          position: absolute;
          display: none;
          top: 10px;
          left: 10px;
          p {
            color: #222;
            font-weight: bold;
          }
        }
      }
    }
  }
}
