@import 'bourbon';
body {
  padding-top: 60px;
  #content {
    padding: 20px 0px;
    .photo-thumbs {
      a { text-decoration: none; }
      .photo {
        @include inline-block;
        position: relative;
        margin: 13px 10px;
        .caption {
          position: absolute;
          display: none;
          top: 10px;
          left: 10px;
          h2 {
            font-size: 16px;
            color: #222;
            font-weight: bold;
            line-height: normal;
            margin: 0px;
            padding: 0px;
            margin-bottom: 4px;
          }
          hr { border: 0px; height: 1px; background-color: #666; width: 250px; margin: 0 auto; }
          p {
            margin-top: 4px;
            color: #444;
          }
        }
      }
    }
  }
}
